@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: "Rubik", sans-serif;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
#nav a{
    text-decoration: none;

}
#links a{
    padding-right: 40px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
}
#navb a{
    color: #0B132A;
    font-weight: 500;
    font-size: 16px;
    margin-left: 30px;
}
#navb button{
    border-color: #F53855;
    background-color: transparent;
    height: 45px;
    width: 150px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    color:  #F53855;
    margin-left: 30px;
}
#section1{
    display: flex;
}
#part1{
   display: block;
    width: 555px;
    height: 150px;
    margin-left:90px;
    margin-top: 100px;
}
#part2{
    width: 812px;
    height: 382px;
    margin-top: 100px;
    margin-left: 41px;
}
#p1{
    font-size: 50px;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 20px;
}
#part1 span{
    font-weight: 700;
}
#p2{
    color: #4F5665;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
}
#sp{
    font-weight: 500;
}
#b1{
    margin-top: 0;
    background-color:#F53838;
    border-color: transparent;
    height: 60px;
    width: 250px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 40px 40px -9px rgb(245 56 56 / 35%)
}
#sect2{
    width: 1140px;
    height: 200px;
    margin-top: 100px;
    margin-left: 119px;
    display: flex;
    box-shadow: 6px 8px 17px 0px rgb(0 0 0 / 11%);
}
#ds2{
    display: flex;
    align-items: center;
   justify-content: center;
   margin-left: 91px;
}
#ds22{
    margin-left: 37px;
}
#ps2{
    color:#0B132A;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
#ps1{
    margin-top: 5px;
    color: #4F5665;
    font-size: 20px;
    font-weight: 400;
}
#barra{
    margin-left: 130px;
   
}
#section4{
    display: flex;
    
    align-items: center;
    margin-top: 0;
}
#im2{
    margin-left: 154px;
    margin-top: 96px;
}
#part5{
    width: 430px;
    height: 400px;
    margin-left: 170px;
    margin-top: 150px;
}
#p3{
    color:#0B132A;
    font-weight: 500;
    font-size: 35px;
}
#p4{
    color:#4F5665;
    font-size: 16px;
    font-weight: 400;
}
#p5{
    color:#4F5665;
    margin-left: 10px;
}
#l{
    display: flex;
}
#p6{
    color: #0B132A;
    font-size:35px;
    font-weight:500;
    margin-bottom: 0;
}
#div6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    flex-direction: column;
}
#p7{
    margin-top: 30px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
#p8{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
}
#sect5{
    display: flex;
}
.caja{
    display: flex;
    flex-direction: column;
   align-items: center; 
    width: 330px;
    height: 760px;
    margin-left: 138px;
    
}
#im3{
    margin-top: 80px;
}
#x{
    font-size: 18px;
    font-weight: 500;
    color:  #0B132A;
}
#x1{
    font-size: 25px;
    font-weight: 500;
    color:  #0B132A;
    margin-top: 130px;
}
#b3{
    color: 
    #F53838;
    background-color: transparent;
    border-color: 
    #F53838;
    font-size: 16px;
    font-weight: 700;
    width: 178px;
    height: 45px;
    border-width: 3px;
    border-radius: 50px;
}
#las{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#x12{
    font-size: 25px;
    font-weight: 500;
    color:  #0B132A;
    margin-top: 80px;
}
#sp3{
    font-size: 25px;
    font-weight: 400;
    color: #4F5665;
}
#x123{
    font-size: 25px;
    font-weight: 500;
    color:  #0B132A;
    margin-top: 30px;
}
#sect6{
display: flex;
margin-top: 133px;
margin-left: 144px;
}
#p2{
    color: #4F5665;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
}
#js{
    display: flex;
    margin-top: 39px;
}
#im4{
    margin-right: 20px;
    margin-left: 0;
}